[Desktop Entry]
Type=Application
Name=krisCC
GenericName=System Control Center
Comment=Personal control center for KrisOS and Fedora bootc systems
Exec=krisCC
Icon=krisCC
Terminal=false
Categories=Settings;System;
Keywords=bootc;system;settings;software;recovery;fedora;krisos;control center;containers;podman;
StartupNotify=true
