<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>raku</vendor>
  <vendor_url>https://github.com/krism-eu/K-ControlC</vendor_url>

  <action id="org.raku.controlcenter.rk">
    <description>Manage persistent raku packages</description>
    <message>Authentication is required to modify persistent system packages</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/rk</annotate>
  </action>

  <action id="org.raku.controlcenter.bootc">
    <description>Manage bootc system deployments</description>
    <message>Authentication is required to update or roll back the operating system</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/bootc</annotate>
  </action>
</policyconfig>
